
<div class="container-fluid" id='about'>
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fas fa-cube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ducimus officiis in, eius voluptate animi
            at aperiam quae sequi nihil porro? Natus earum accusantium rerum ut libero aliquid, dolorum ex!
        </div>
    </div>
</div>
<footer class="bg-dark text-white text-center">
    Cuadros 3bits

</footer>